*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* NAVBAR */

nav{
    width:100%;
    padding:15px 50px;
    background:#0b7a75;
    display:flex;
    justify-content:space-between;
    align-items:center;
    box-shadow:0 2px 10px rgba(0,0,0,0.2);
}

nav h2{
    color:white;
}

nav ul{
    list-style:none;
    display:flex;
}

nav ul li{
    margin-left:20px;
}

nav ul li a{
    text-decoration:none;
    color:white;
    font-weight:bold;
}

/* HERO SECTION */

.hero{
    height:100vh;
    background:
    linear-gradient(rgba(0,60,70,0.6),
    rgba(0,120,130,0.6)),
    url("images/hero.jpg");
    background-size:cover;
    background-position:center;
    display:flex;
    justify-content:center;
    align-items:center;
}

/* HERO BOX */

.hero-box{
    background: rgba(255,255,255,0.2);
    padding:40px;
    border-radius:15px;
    backdrop-filter: blur(10px);
    text-align:center;
    color:white;
    width:60%;
}

/* TEXT */

.hero-box h1{
    font-size:40px;
    margin-bottom:10px;
    animation: slideDown 1s ease;
}

.hero-box p{
    margin-bottom:20px;
}

/* BUTTON */

.hero-box button{
    background:#00c9a7;
    border:none;
    padding:12px 25px;
    border-radius:30px;
    color:white;
    font-size:16px;
    cursor:pointer;
    transition:0.3s;
}

.hero-box button:hover{
    background:#00a98b;
    transform:scale(1.05);
}

/* ANIMATION */

@keyframes slideDown{
    from{
        opacity:0;
        transform: translateY(-30px);
    }
    to{
        opacity:1;
        transform: translateY(0);
    }
}

/* SERVICES PAGE */

.services{
    padding:50px;
    text-align:center;
}

.services h2{
    margin-bottom:20px;
}

/* CARDS */

.card-container{
    display:flex;
    justify-content:space-around;
    flex-wrap:wrap;
    margin-top:20px;
}

.card{
    background:#e6f7f6;
    padding:20px;
    width:250px;
    border-radius:10px;
    transition:0.3s;
    margin:10px;
}

.card:hover{
    transform:translateY(-10px);
    box-shadow:0 5px 15px rgba(0,0,0,0.2);
}

/* FOOTER */

footer{
    background:#0b7a75;
    color:white;
    text-align:center;
    padding:15px;
}
.service-img{
width:100%;
height:150px;
object-fit:cover;
border-radius:10px;
margin-bottom:10px;
}
.detail-img{
width:300px;
height:200px;
object-fit:cover;
border-radius:10px;
margin:20px 0;
}
.contact-img{
width:300px;
height:200px;
object-fit:cover;
border-radius:10px;
margin:20px 0;
}

.contact-form input,
.contact-form textarea{
width:250px;
padding:8px;
}

.contact-form button{
background:#0b7a75;
color:white;
border:none;
padding:10px 20px;
cursor:pointer;
}
.about{
display:flex;
justify-content:center;
align-items:center;
padding:50px;
gap:40px;
}

.about-img img{
width:300px;
height:200px;
object-fit:cover;
border-radius:10px;
}

.about-text{
width:400px;
}
